:root {
  --white30: white;
  --white20: #a5a3a5;
  --white10: #616161;
  --whitebg: #3a3539;
  --bluebtn: #157efb;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--white30);
  font-family: "Nunito", sans-serif;
  margin: 0;
  background: #251f24;
}

a {
  color: var(--white30);
  text-decoration: none;
}
header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white30);
}
header li {
  color: var(--white20);
}
header a {
  color: var(--white20);
}
header a:hover {
  color: var(--white30);
}

nav details summary {
  color: var(--white30);
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}
hr {
  margin-block: 40;
  border-color: rgba(97, 97, 97, 0.2);
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}
pre {
  background: var(--whitebg);
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  border: 5px solid var(--white30);
  box-shadow: -8px 8px 0 0 var(--white20);
  margin-block-end: 30px;
}
blockquote {
  margin-block-start: 80px;
  margin-block-end: 63;
  background-color: var(--whitebg);
  border-radius: 8px;
  padding: 24px;
  line-height: 32px;
  font-size: 24px;
}
blockquote p {
  color: var(--white30);
}
/* blockquote span{
    color: var(--white10);
  } */
blockquote span::before {
  content: "-";
}
p {
  color: var(--white20);
}
.header {
  position: sticky;
}
.header-content{
padding-inline: 20px;
}
.wrapper {
  max-inline-size: 902px;
  margin: auto;
}
.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  block-size: 50px;
}
.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}
.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
}
.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

/* .section-content h3::after {
    content: "";
    width: 80px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
  } */
.main hr {
  display: none;
}
.main-content {
  padding: 16px;
}

.slider-container {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  height: auto;
  aspect-ratio: 16/9;
  width: 100%;
}
.scroll-bullet-list {
  text-align: center;
  margin-block-start: 15px;
}
.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--white30);
  background: var(--whitebg);
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}
.form input::-webkit-input-placeholder {
  color: var(--white20);
}

.form input[type="submit"] {
  background: var(--bluebtn);
  border: none;
}
.footer-copyright{
  margin: 0;
  font-weight: normal;
  }
.footer-content{
  padding-block-start:48px;
  padding-inline: 42px;
}
footer{
inline-size: 100%;
height: 174px;
background-color: var(--white30);
}
footer p{
color: var(--whitebg);
text-align: center;
/* border: 1px solid red; */
font-size:2rem ;
}
.social-media a:not(:nth-child(2)){
  display: inline-block;
  margin: 22px;
  /* padding-block-end: 61px; */
}
.social-media {
  text-align: center;
  /* border: 1px solid blue; */
}
.social-media img{
  /* inline-size: 18px;
  block-size: 18px; */
}

.proyectos ul{
padding: 0;
max-inline-size: 188px;
list-style: none;
margin: 0;
}
.selected{
background-color: black;
}
.proyectos ul li{
padding-block: 10px;
padding-inline: 10px;
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }
  .header {
    position: sticky;
    inset-block-start: -45px;
  }
  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }
  header {
    inline-size: 188px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -232px;
  }
  h1{
    font-size: 60px;
    margin-block-start: 64px;
  }
}
